02_chatbot_leads_citas.json
{
  "name": "Chatbot IA - Captación de Leads y Agendado de Citas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook - Mensaje del Usuario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "chatbot-leads-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst sessionId = body.session_id || `session_${Date.now()}`;\nconst userMessage = body.message || body.texto || '';\nconst conversationHistory = body.history || [];\n\nif (!userMessage.trim()) {\n  throw new Error('Mensaje vacío');\n}\n\nreturn [{\n  json: {\n    sessionId,\n    userMessage,\n    conversationHistory,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Parsear Mensaje Entrante",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "model": "claude-opus-4-5",
        "options": {
          "systemMessage": "=Eres un asistente virtual amigable y profesional de una empresa de tecnología/software llamada 'TechSolutions'. Tu objetivo es:\n\n1. Saludar cordialmente al visitante\n2. Entender su necesidad o problema de negocio\n3. Recopilar de forma natural (sin formulario) la siguiente información:\n   - Nombre completo\n   - Email de contacto\n   - Empresa donde trabaja\n   - Cargo / rol\n   - Principal problema o necesidad que quiere resolver\n4. Cuando tengas suficiente información, ofrecer agendar una reunión de demo de 30 minutos\n5. Si el usuario acepta agendar, pedirle su disponibilidad horaria (días y horas preferidas)\n6. Confirmar la reunión con un resumen\n\nCuando hayas recopilado nombre, email, empresa, cargo y necesidad, incluye al FINAL de tu respuesta este bloque JSON (sin explicación, solo el JSON):\n\n<LEAD_DATA>\n{\"nombre\": \"...\", \"email\": \"...\", \"empresa\": \"...\", \"cargo\": \"...\", \"necesidad\": \"...\", \"datos_completos\": true}\n</LEAD_DATA>\n\nCuando el usuario confirme una reunión e indique disponibilidad, incluye al FINAL de tu respuesta este bloque JSON:\n\n<APPOINTMENT_DATA>\n{\"nombre\": \"...\", \"email\": \"...\", \"empresa\": \"...\", \"disponibilidad\": \"...\", \"tipo_reunion\": \"demo_30min\", \"agendar\": true}\n</APPOINTMENT_DATA>\n\nIMPORTANTE:\n- Sé conversacional y empático, no hagas preguntas como formulario\n- Haz máximo 2 preguntas por mensaje\n- Si el usuario pregunta sobre precios o servicios, responde brevemente y redirige a agendar una demo\n- Idioma: español"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.conversationHistory.map(m => m.role + ': ' + m.content).join('\\n') + '\\nuser: ' + $json.userMessage }}"
            }
          ]
        }
      },
      "id": "claude-chat",
      "name": "Chatbot IA (Claude)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.text || $input.first().json.content || '';\nconst inputData = $('Parsear Mensaje Entrante').first().json;\n\n// Extraer datos de lead si existen\nlet leadData = null;\nlet appointmentData = null;\nlet cleanResponse = aiResponse;\n\nconst leadMatch = aiResponse.match(/<LEAD_DATA>([\\s\\S]*?)<\\/LEAD_DATA>/);\nif (leadMatch) {\n  try {\n    leadData = JSON.parse(leadMatch[1].trim());\n    cleanResponse = aiResponse.replace(/<LEAD_DATA>[\\s\\S]*?<\\/LEAD_DATA>/, '').trim();\n  } catch(e) {}\n}\n\nconst appointmentMatch = aiResponse.match(/<APPOINTMENT_DATA>([\\s\\S]*?)<\\/APPOINTMENT_DATA>/);\nif (appointmentMatch) {\n  try {\n    appointmentData = JSON.parse(appointmentMatch[1].trim());\n    cleanResponse = cleanResponse.replace(/<APPOINTMENT_DATA>[\\s\\S]*?<\\/APPOINTMENT_DATA>/, '').trim();\n  } catch(e) {}\n}\n\n// Actualizar historial\nconst updatedHistory = [\n  ...inputData.conversationHistory,\n  { role: 'user', content: inputData.userMessage },\n  { role: 'assistant', content: cleanResponse }\n];\n\nreturn [{\n  json: {\n    sessionId: inputData.sessionId,\n    botResponse: cleanResponse,\n    conversationHistory: updatedHistory,\n    leadData,\n    appointmentData,\n    hasLeadData: !!leadData,\n    hasAppointmentData: !!appointmentData,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-extract",
      "name": "Extraer Datos Estructurados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-lead",
              "leftValue": "={{ $json.hasLeadData }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-lead-captured",
      "name": "¿Lead Capturado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-appointment",
              "leftValue": "={{ $json.hasAppointmentData }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-appointment",
      "name": "¿Cita Agendada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Chatbot",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "nombre": "={{ $json.leadData.nombre }}",
            "email": "={{ $json.leadData.email }}",
            "empresa": "={{ $json.leadData.empresa }}",
            "cargo": "={{ $json.leadData.cargo }}",
            "necesidad": "={{ $json.leadData.necesidad }}",
            "fecha": "={{ $json.timestamp }}",
            "fuente": "chatbot_web"
          }
        },
        "options": {}
      },
      "id": "sheets-lead",
      "name": "Guardar Lead en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Citas Agendadas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "nombre": "={{ $json.appointmentData.nombre }}",
            "email": "={{ $json.appointmentData.email }}",
            "empresa": "={{ $json.appointmentData.empresa }}",
            "disponibilidad": "={{ $json.appointmentData.disponibilidad }}",
            "tipo_reunion": "={{ $json.appointmentData.tipo_reunion }}",
            "estado": "pendiente_confirmacion",
            "fecha_solicitud": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "sheets-appointment",
      "name": "Registrar Cita en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "fromEmail": "noreply@techsolutions.com",
        "toEmail": "={{ $json.appointmentData.email }}",
        "subject": "✅ Tu reunión de demo está confirmada - TechSolutions",
        "emailType": "html",
        "message": "=<html><body style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>\n<h2 style='color: #2563eb;'>¡Hola {{ $json.appointmentData.nombre }}! 👋</h2>\n<p>Gracias por tu interés en TechSolutions. Tu solicitud de reunión ha sido registrada exitosamente.</p>\n<div style='background: #f0f9ff; border-left: 4px solid #2563eb; padding: 16px; margin: 20px 0;'>\n  <strong>Detalles de tu reunión:</strong><br>\n  📋 Tipo: Demo de producto (30 minutos)<br>\n  🏢 Empresa: {{ $json.appointmentData.empresa }}<br>\n  📅 Disponibilidad indicada: {{ $json.appointmentData.disponibilidad }}\n</div>\n<p>Un miembro de nuestro equipo te contactará en las próximas <strong>2 horas hábiles</strong> para confirmar la fecha y hora exacta y enviarte el enlace de la videollamada.</p>\n<p style='color: #6b7280; font-size: 14px;'>TechSolutions - Automatizando tu negocio con IA</p>\n</body></html>"
      },
      "id": "email-confirm",
      "name": "Email Confirmación al Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $('Extraer Datos Estructurados').first().json.botResponse, session_id: $('Extraer Datos Estructurados').first().json.sessionId, history: $('Extraer Datos Estructurados').first().json.conversationHistory, lead_captured: $('Extraer Datos Estructurados').first().json.hasLeadData, appointment_requested: $('Extraer Datos Estructurados').first().json.hasAppointmentData }) }}",
        "options": {}
      },
      "id": "respond-chat",
      "name": "Responder al Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 700]
    }
  ],
  "connections": {
    "Webhook - Mensaje del Usuario": {
      "main": [[{ "node": "Parsear Mensaje Entrante", "type": "main", "index": 0 }]]
    },
    "Parsear Mensaje Entrante": {
      "main": [[{ "node": "Chatbot IA (Claude)", "type": "main", "index": 0 }]]
    },
    "Chatbot IA (Claude)": {
      "main": [[{ "node": "Extraer Datos Estructurados", "type": "main", "index": 0 }]]
    },
    "Extraer Datos Estructurados": {
      "main": [
        [
          { "node": "¿Lead Capturado?", "type": "main", "index": 0 },
          { "node": "¿Cita Agendada?", "type": "main", "index": 0 },
          { "node": "Responder al Frontend", "type": "main", "index": 0 }
        ]
      ]
    },
    "¿Lead Capturado?": {
      "main": [
        [{ "node": "Guardar Lead en Sheets", "type": "main", "index": 0 }],
        []
      ]
    },
    "¿Cita Agendada?": {
      "main": [
        [{ "node": "Registrar Cita en Sheets", "type": "main", "index": 0 }],
        []
      ]
    },
    "Registrar Cita en Sheets": {
      "main": [[{ "node": "Email Confirmación al Lead", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["portafolio", "chatbot", "lead-capture", "citas", "ia"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
